html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

*,
::after::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: #01012b;

}



header {
    border-bottom:solid 3px rgb(17, 8, 70);
    background: #01012e;
    position: sticky;
    top: 0;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    


    width: 100%;

}


.nav-menu {
    position: absolute;
    top: 55px;
    width: 100%;
    background: #01012b;
  
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    gap:20px;
    z-index: 500;
  
    
    
   

}

header i {
    font-size: 28px;
    color: white;
    padding-right: 25px;
    z-index: 400;

}

.nav-menu a {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    padding: 13px 20px;
    font-size: 17px;
    font-weight: bold;
    z-index: 500;
   


}

.nav-menu a:hover {
    
    /* border-bottom: .2px solid rgb(241 166 0); */
    color:#00ff22;
    background-color: rgb(14, 7, 49);

}

.checkbox {
    display: none;
}

.checkbox:checked~.nav-menu {
    opacity: 1;
    visibility: visible;
}

h1 {
   


}


.hero__container__content p {
    color: white;
    font-size: 30px;
    margin: 0;
    font-weight: bold;

}

.hero__container__content span {
    color: #FEB211;
    font-size: 11px;
}

.hero__container__content h2 {
    color: white;
    font-size: 11px;
    margin: 0;
}

.foto img {
    width: 290px;
    height: 400px;
  border: 3px solid #00ff22;
   border-radius: 20px;

}

.containerlogos i{
    color:#00ff22;
    font-size: 70px;
    cursor:pointer;
}

.btncv{
    background:linear-gradient(to right, transparent 50%, #00ff22 50%) no-repeat left / 200%;;
    color: white;
    padding:7px 40px;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #00ff22;
    display: flex;
    gap: 30px;
    border-radius:25px;
    cursor: pointer;
    align-items: center;
    justify-content:center;
    transition: background-position 0.3s ease;
}

.btncv:hover{
    background-position: right; 
   color:rgb(14, 7, 49);
   font-weight: bold;
   font-size: 20px;
    
    }
.btncv i{
    font-size: 36px;
}
.linkdownload{
    text-decoration: none;
}




.foto {
    margin: 0 auto;



}

.hero__container {

    padding-bottom: 35px;

    margin-right: 0;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
}

.contenedortextlogos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

    width: 55%;
    gap: 40px;

}



.hero__container__content {
    display: flex;
    flex-direction: row-reverse;

    gap: 5px;
    padding: 0px 5px 0px 5px 0;
    align-items: center;
    justify-content: space-between;


}

.containerlogos {
    display: flex;
    gap: 90px;
    
}

.contenedortextlogos h2 span {
    font-size: 16px;
}

.contenedortextlogos h2 {
    font-size: 15px;
}

.hero {
    max-width: 900px;
    margin: 0 auto;
}


/* ACERCA DE MI */

.aboutme__container {
    background: #01012e;
    
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;

}

.aboutme__container h2 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin: 0;

}

.aboutme__container p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 0;
    margin-top: 10px;

}

.acadelmo {
    width: 70px;
    height: 70px;
}

.aboutme__container__logos__acadelmo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutme__container__logos__acadelmo p span {
    font-size: 14px;
    font-weight: bold;
}



.aboutme__container__logos__acadelmo p {
    margin: 0;
    font-size: 11px;
    font-weight: bold;
}

.UVM {
    width: 70px;
    height: 70px;

}

.aboutme__container__logos__UVM {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutme__container__logos__UVM p span {
    font-size: 14px;
    font-weight: bold;
}


.aboutme {
    background: #01012e;


}

.aboutme__container__logos__UVM p {
    margin: 0;
    font-size: 11px;
    font-weight: bold;
}

.aboutme__container__logos__acadelmo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutme__container__logos {
    display: flex;
    justify-content: center;
    gap: 94px;
    margin-top: 30px;

}

/* EXPERIENCIA */

.experience h2 {
    color: white;
    text-align: center;
    margin: 0;
    margin: 20px 0 30px 0;
}

.marks {
    display: flex;
    flex-direction: column;
    gap: 52px;
}

.amazon {
    width: 70px;
    height: 70px;
}

.aurb {
    width: 70px;
    height: 70px;
}

.google {
    width: 70px;
    height: 70px;
}


.text-marks {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.p-amazon {
    font-size: 10px;
    color: white;
}

.p-amazon span {
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.p-aurb {
    font-size: 10px;
    color: white;
}

.p-aurb span {
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.p-google {
    font-size: 10px;
    color: white;
}

.p-google span {
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.yearss {
    display: flex;
    flex-direction: column;
    gap: 65px;
}

.twoyears {
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.oneyears {
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.years {
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.experience__container {
    display: flex;
    flex-direction: row;
}

.experience__container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 30px;
    max-width: 900px;
    margin: 0 auto;
    width: 100hv;
}


/* MIS HABILIDADES */



.skills__container{
    display: flex;
    padding: 0 20px 20px 20px;
    align-items: center;
    gap: 70px;
    overflow-x: scroll;
}

.skills__container::-webkit-scrollbar {
    background: #090044;
    height: 7px;

}
.skills__container::-webkit-scrollbar-thumb {
    background: #01f021;
    border-radius: 30px;
    
}

.skills h2 {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    margin-top: 75px;
    

}
.skills__cart-html{
    max-height: 380px;
    min-width: 380px;
    background-color:#020231;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
   
   

}

.skills__cart-html h3{
 color :white;
 text-align: center;
 font-size: 30px;
 display: flex;
 align-items: center;
 justify-content:center;
 gap:20px;
 margin:0;
}

.skills__cart-html i{
   color: #00ff22;
    font-size: 70px;
}
.skills__cart-html p{
    color:white;
    margin:0;
    font-size: 18px;
}


.skills__cart-css{
    background-color:#020231;
    padding: 10px 10px 10px 10px;
    max-height: 380px;
    min-width: 380px;
    border-radius: 20px;
    

}

.skills__cart-css h3{
 color :white;
 text-align: center;
 font-size: 30px;
 display: flex;
 align-items: center;
 justify-content:center;
 gap:20px;
 margin:0;
}

.skills__cart-css i{
   color: #00ff22;
    font-size: 70px;
}
.skills__cart-css p{
    color:white;
    margin:0;
    font-size: 18px;
}


.skills__cart-javascript{
    max-height: 380px;
    min-width: 380px;
    background-color:#020231;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    /* border: 1px solid yellow; */

}

.skills__cart-javascript h3{
 color :white;
 text-align: center;
 font-size: 30px;
 display: flex;
 align-items: center;
 justify-content:center;
 gap:20px;
 margin:0;
}

.skills__cart-javascript i{
   color: #00ff22;
    font-size: 70px;
}
.skills__cart-javascript p{
    color:white;
    margin: 0;
    font-size: 18px;
}


.skills__cart-React{
    max-height: 380px;
    min-width: 380px;
    background-color:#020231;
    padding: 10px 10px 10px 10px;
    /* border: 1px solid yellow; */
    border-radius: 20px;

}

.skills__cart-React h3{
 color :white;
 text-align: center;
 font-size: 30px;
 display: flex;
 align-items: center;
 justify-content:center;
 gap:20px;
 margin:0;
}

.skills__cart-React i{
   color: #00ff22;
    font-size: 70px;
}
.skills__cart-React p{
    color:white;
    margin:0;
    font-size: 18px;
}

.skills__cart-github{
    max-height: 380px;
    min-width: 380px;
    background-color:#020231;
    padding: 10px 10px 10px 10px;
    /* border: 1px solid yellow; */
    border-radius: 20px;

}

.skills__cart-github h3{
 color :white;
 text-align: center;
 font-size: 30px;
 display: flex;
 align-items: center;
 justify-content:center;
 gap:20px;
 margin:0;
}

.skills__cart-github i{
   color: #00ff22;
    font-size: 70px;
}
.skills__cart-github p{
    color:white;
    margin:0;
    font-size: 18px;
}


.skills__cart-git{
    max-height: 380px;
    min-width: 380px;
    background-color:#020231;
    padding: 10px 10px 10px 10px;
    /* border: 1px solid yellow; */
    border-radius: 20px;

}

.skills__cart-git h3{
 color :white;
 text-align: center;
 font-size: 30px;
 display: flex;
 align-items: center;
 justify-content:center;
 gap:20px;
 margin:0;
}

.skills__cart-git i{
   color: #00ff22;
    font-size: 70px;
}
.skills__cart-git p{
    color:white;
    margin:0;
    font-size: 18px;
}






/* PORTAFOLIO */


.title__portfolio{
    color:red;
}


.portfolio__container footer h4 {
    margin: 0;
    color: white;
    

}

.portfolio__container {

 display: flex;
 align-items: center;
 justify-content:center;
 flex-wrap: wrap;
 gap:80px;
 

}

.portafolio {
  
   display: flex;
   align-items: center;
   justify-content:center;
   flex-direction: column;
    margin-top: 70px ;
  
}
 .card{
    width: 500px;
    height:600px;
    border-radius:10px;
    background:var(--i);
    box-shadow: 3px 5px 5px rgba(38, 61, 163, 0.8);
    background-position: center;
    background-size:cover;
    cursor: pointer;
    
 }

 .content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap:20px;
    background: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: .5s;
 }
 .content h3 {
 font-weight: bold;
 color: white;
 font-size: 35px;
 display: flex;
 align-items: center;
 justify-content:center;
 gap:20px;
 margin:0;
 }
 .content i{
  color: #00ff22;
 }
 .content p{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    background-color: black;
 }
 .content a{
    color:white;
    text-decoration: none;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    background-color: black;
 }
.card:hover .content{
    opacity:1;
}





.portafolio h2 {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    font-size: 32px;
    margin-bottom: 50px;
}

/* .skills{
    max-width: 900px;
    margin:0 auto;
} */

/* CONTACTO */

.contacto h2 {
    color: white;
    font-size: 28px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 0;
    font-weight: bold;
}

.phone img {
    width: 70px;
    height: 70px;
}

.phone p span {
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 16px;
}

.phone p {
    color: white;
    text-align: center;
    font-size: 14px;

}

.phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-right: 230px; */
    margin-bottom: 20px;

    /* gap:28px; */
}



.mail img {
    width: 70px;
    height: 70px;

}

.mail p span {
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 16px;
}

.mail p {
    color: white;
    text-align: center;
    font-size: 14px;

}

.mail {
    display: flex;
    flex-direction: column;
    /* justify-content:center; */

    align-items: center;

    /* margin-bottom: 200px; */
    margin-top: 80px;

    margin-left: 20px;

}

.contan {
    margin: 0 auto;
    max-width: 900px;

    background: #13013d;
    display: flex;
    padding: 0 10px 0 10px;
    align-items: center;
    justify-content: center;
}

.contacto {
    background: #13013d;

}



/* Footer */

footer h2 {
    color: white;
    margin: 25px;
    text-align: center;
    font-size: 16px;
}

@media screen and (min-width: 417px) {
    h1 {
        color: white;
        font-weight: bold;
        font-size: 70px;
        text-align: center;
        margin: 0;
        margin: auto;
        /* padding-left:30px;  */

        /* margin:16px 0px 16px 0px; */
    }
}

@media screen and (min-width: 645px) {
   
    header{
        
    }
    
    .nav-menu {
       
       
        background: #01012b;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:flex-end;
        opacity: 1;
        visibility:visible;
       
        padding:0 20px 0 0;
        max-width: 900px;
       
        top: 0;
        height: 54px;
        margin:0 auto;

        
    
    }
   

    label {
        display: none;
    }

    

    .nav-menu a {
        color: white;
        text-align: center;
        text-decoration: none;
        
        font-size: 19px;
        /* font-weight: bold; */
        z-index: 500;
        cursor: pointer;



    }




}


@media screen and (min-width: 950px) {
    .hero__container__content p {
        color: white;
        font-size: 34px;
        margin: 0;
        font-weight: bold;

    }

    .hero__container__content span {
        color: #FEB211;
        font-size: 13px;
    }

    .hero__container__content h2 {
        color: white;
        font-size: 13px;
        margin: 0;
    }
    

    .foto img {
        width: 290px;
        height: 400px;
      border: 3px solid #00ff22;
       border-radius: 20px;

    }

    /* .vectorcorner{
        background-image:url(img/vectores/vector.png); 
        background-color:#13013d;
        width:300px;
        height:300px;
        padding-left:0px;
        top:0;
        right:-84px;
       
      position:absolute;
        z-index: -5;  */







    .foto {
        margin: 0 auto;
        /* background-color:#FEB211; */


    }

    .hero__container {
        /* display: flex; */
        /* flex-direction:column;
   align-items:flex-start; */
        padding-bottom: 35px;
        /* margin:0 auto; */
        /* width:100vh; */
        

        margin-right: 0;
        max-width: 900px;
        margin: 40px auto 0 auto;
        /* padding-left: 170px;
        padding-right: 70px; */
        
    }

    .contenedortextlogos {
        display: flex;
        flex-direction: column;
  align-items: center;
  justify-content:center;

        width: 100%;
        gap: 40px;
        /* padding:0px 25px 0px 25px; */
        /* max-width: 900px;
      margin:0 auto; */
     

    }



    .hero__container__content {
        display: flex;
        flex-direction: row-reverse;
        /* width:25%; */
        gap: 50px;
        padding: 0px 5px 0px 5px 0;
        align-items: center;
        justify-content: space-between;
        /* max-width: 900px;
       margin:0 auto;  */

    }

    .containerlogos {
        display: flex;
        gap: 90px;
        
    }

    .contenedortextlogos h2 span {
        font-size: 16px;
    }

    .contenedortextlogos h2 {
        font-size: 15px;
    }

    .hero {
        max-width: 900px;
        margin: 0 auto;
    }

    .containerlogos img {
        width: 35px;
        height: 35px;
    }


    .aboutme__container p {
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        color: white;
        margin: 0;
        margin-top: 10px;

    }



    .amazon {
        width: 90px;
        height: 90px;
    }

    .aurb {
        width: 90px;
        height: 90px;
    }

    .google {
        width: 90px;
        height: 90px;
    }


    .text-marks {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .p-amazon {
        font-size: 15px;
        color: white;
    }

    .p-amazon span {
        font-size: 16px;
        color: white;
        font-weight: bold;
    }

    .p-aurb {
        font-size: 15px;
        color: white;
    }

    .p-aurb span {
        font-size: 16px;
        color: white;
        font-weight: bold;
    }

    .p-google {
        font-size: 15px;
        color: white;
    }

    .p-google span {
        font-size: 16px;
        color: white;
        font-weight: bold;
    }

    .yearss {
        display: flex;
        flex-direction: column;
        gap: 65px;
    }

    .twoyears {
        font-size: 18px;
        color: white;
        font-weight: bold;
    }

    .oneyears {
        font-size: 18px;
        color: white;
        font-weight: bold;
    }

    .years {
        font-size: 18px;
        color: white;
        font-weight: bold;
    }

    .barra img {
        height: 390px;
    }



    .porcentage {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 36px;
        background-color: #13013d;
        width: 200px;
        justify-content: center;
        padding-right: 0px;
        padding-left: 100px;

    }

    .imagen1 {
        width: 250px;
        height: 250px;
        margin-top: 15px;


    }

    .img1 {
        background-color: #FEB211;
        display: flex;
        height: 200px;
        width: 265px;
        flex-direction: column;
        align-items: center;
        margin-right: 80px;


    }

    .imagen2 {
        width: 250px;
        height: 250px;
        margin-top: 15px;


    }

    .img2 {
        background: #13013d;
        display: flex;
        height: 200px;
        width: 265px;
        flex-direction: column;
        align-items: center;
        margin-left: 80px;


    }


    .imagen3 {
        width: 250px;
        height: 250px;
        margin-top: 15px;


    }

    .img3 {
        background-color: #FEB211;
        display: flex;
        height: 200px;
        width: 265px;
        flex-direction: column;
        margin-right: 80px;
        align-items: center;


    }

    .phone img {
        width: 80px;
        height: 80px;
    }

    .mail img {
        width: 80px;
        height: 80px;
    }


}